// .container {
//   display:flex;
// }
.row {
  margin: 0;
}
.welcome {
}

.img-fluid {
  width: 100%;
}

.display-name {
  h2 {
    font-size: 30px;
    color: $dark-green;
    letter-spacing: 1px;
  }
}

.loc-info {
  font-size: 20px;
  color: $hover-green;
  letter-spacing: 1px;
  padding-left: 15px;
}


#appart2 {
  background-color: white;
    position: relative;
    margin-top: -380px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  // margin-right: 200px;
  // width:60%;
}

.loyers2.right-el {

  height: auto;
  height: 250px;

  .loyers-content {
    max-height: 250px;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.carac {
  color: $hover-green;
}

.carac h1{
    font-size: 22px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #357376;
    padding: 10px 0;
    font-weight: bolder;
    letter-spacing: 1px;

}

// form incidents

#dashboard_new_incident2 {
  .form-check {
    padding: 0;
  }
  legend {
    display: none;
  }
  input.radio_buttons {
    display:none;
  }
  .incident_answer {
    display: flex;
    // flex-wrap: wrap;
      justify-content: space-between;

    .form-check {
      width: 30%;
      margin-bottom: 20px;
      label {
        width: 100%
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// historique incident

.incident-history {
    width: 100%;

    margin-bottom: 40px;

    a{
      text-decoration: none;
      color: $hover-green;
      &:hover {
        zoom: 1.03;
      }
    }


  h1{
    font-size: 26px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 25px;
    border-bottom: 2px solid #357376;
    padding-bottom: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  p{
    display:flex;
    padding: 3px 10px;
    margin-bottom: 0;
  }
}

.incident-content {
  height: 120px;
  overflow: hidden;
  overflow-y: scroll;

}

.incident-line {
  display:flex;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  background-color: white;
}

.table-description {
  height: 35px;
  border-bottom: 1px solid $dark-green;
  margin-bottom: 10px;
}

.incident-details {
  padding: 15px;
}

// Import de dashboard 1
.title{


  h1 {
    font-size: 26px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #357376;
    padding-bottom: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
  }
}

.rent-line {
  display: flex;
  color: $hover-green;
  height:70px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #357376;
  .btn {
    width: 95px;
  }
}

.rent-amount {
  // margin-top: 10px;
  flex: 0 0 100px;
  align: center;
  // padding: 0px;
}

.rent-date {
  flex-grow: 1;
  // margin-top: 10px;
  // margin-right: 10px;
}

.rent-status {
  flex: 0 0 130px;
  .pics {
    padding: 0 5px;
  }
  // padding: 0px;
}

//container des pdf

.right-el {
  height: 225px;
  border-radius: 5px;

}

.document-content {
  height: 163px;
  overflow: hidden;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.loyers-content {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}


.fas {
  color: $hover-green;

  &.fa-file-pdf {
  color: red;
}

  &.fa-info-circle {
    color: orange;
  }
}



.document-card {
  display: flex;
  align-items: center;
  padding: 10px;
  color: $hover-green;
}

.document-name{
  flex-grow: 1;

}

.document-date {
  flex: 0 0 100px;
}

.download {
  flex: 0 0 50px;
  padding: 15px;
}

.destroy {
  flex: 0 0 50px;
  padding: 15px;

  &:hover {
    text-decoration: none;
    font-size: larger;
  }


}


// Container des cards incidents

.container-incident {
  // padding: 0px;
  // margin-top: 70px;

  h1 {
    // color: white;
    // font-size: 210px;
    // background-color: $hover-green;
    // text-align: center;
    // border-radius: 5px 5px 0 0;
    // padding: 5px;
    // margin-bottom: 15px;

    font-size: 26px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 25px;
    border-bottom: 2px solid #357376;
    padding-bottom: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
  }
}

.lower-right {
  width: 40%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.carousel{
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  background-color:#D7D7D7;
  color:white;
  .carousel-caption {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 25%;
    left: 50%;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img.carousel-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-wrapper {
  padding: 12px;
  h1 {
    font-size: 26px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #357376;
    padding-bottom: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
  }
}


