// .container {
//   display:flex;
// }

#appart2 {
  background-color: rgba(211,211,211,0.9);
  position: relative;
  margin-top: -180px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // margin-right: 200px;
  // width:60%;
}

.loyers2.right-el {

  height: auto;
  height: 250px;

  .loyers-content {
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

// form incidents

#dashboard_new_incident2 {
  .form-check {
    padding: 0;
  }
  legend {
    display: none;
  }
  input.radio_buttons {
    display:none;
  }
  .incident_answer {
    display: flex;
    flex-wrap: wrap;
      justify-content: space-between;

    .form-check {
      width: 30%;
      margin-bottom: 20px;
      label {
        width: 100%
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// historique incident

.incident-history {
    width: 113%;
    margin-left: 15px;

  h1{
    color: white;
    background-color: $hover-green;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
}

.incident-details {
  padding: 15px;
}

// Import de dashboard 1

.title {
  color: white;
  background-color: #357376;
  width: 100%;
  padding-left: 15px;
  border-bottom: solid 1px;
  border-radius: 5px 5px 0 0;

  h1 {
    margin-bottom: 2px;
    font-size: 26px;
    padding: 5px;
    color: white;
  }
}

.rent-line {
  display: flex;
  height:70px;
  align-items: center;
  padding: 10px;
  .btn {
    width: 100px;
  }
}

.rent-amount {
  // margin-top: 10px;
  flex: 0 0 100px;
  align: center;
  // padding: 0px;
}

.rent-date {
  flex-grow: 1;
  // margin-top: 10px;
  // margin-right: 10px;
}

.rent-status {
  flex: 0 0 130px;
  // padding: 0px;
}

//container des pdf

.right-el {
  height: 210px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.document-content {
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.loyers-content {
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}


.fa-file-pdf {
  color: red;
}

.document-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.document-name{
  flex-grow: 1;
}

.document-date {
  flex: 0 0 100px;
}

.download {
  flex: 0 0 50px;
  padding: 15px;
}

.destroy {
  flex: 0 0 50px;
  padding: 15px;
}

// Container des cards incidents

.container-incident {
  // padding: 0px;
  // margin-top: 70px;

  h1 {
    color: white;
    background-color: $hover-green;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
}

.lower-right {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


// form incidents

#dashboard_new_incident {
  .form-check {
    padding: 0;
  }
  legend {
    display: none;
  }
  input.radio_buttons {
    display:none;
  }
  .incident_answer {
    display: flex;

    .form-check {
      flex: 1 0 1%;
      margin-right: 10px;
      label {
        width: 100%
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// form incident answers
#new_incident {
  .form-check-input  {
    display: none;
  }
  label {

    background-color: #1D4D4F;
    color:white;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    &:hover {
      background-color: #357376;
    }
  }
  .incident_answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  legend {
    flex: 0 0 100%;
    text-align: center;
    font-size: 1.3em;
  }
  .form-check {
    flex: 0 0 200px;
    padding: 0;
    margin: 10px 5px;
    label {
      width: 100%;
      margin: 0;
      height: 150px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.carousel{
  width:60vw;
  height:auto;
  margin: 0 auto;
  background-color:#D7D7D7;
  color:white;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img.carousel-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
