.upper-part {
  display: flex;
  justify-content: space-between;
}

.upper-left {
  width: 55%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


}

.upper-right {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title {
  color: $dark-green;
  width: 100%;
  padding-left: 15px;
  border-bottom: solid 1px;

  h1 {
    margin-bottom: 2px;
  }
}

.row {
  display: flex;
  width: 100%;
  color: $hover-green;
  padding-left: 15px;
  padding-right: 7px;
  margin-left: 0px;

}

.btn {
  width: 150px;
  margin: 10px;
}

.rent-amount {
  margin: 10px;
  align: center;
}

.rent-date {
  margin: 10px;
}

.rent-status {
  padding: 0px;
}
