.carousel-wrapper {
    width: 73%;
    margin: 0 auto;
}
.carous2 {
  background-color: black;
  border-radius: 0 0 5px 5px;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

// Container des infos appartements + carousel

.upper-left {
  width: 55%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: white;
}

.tab {
  background-color: $light-green;
  border-radius: 5px 5px 0 0;
}

.tablinks {
  width: 50%;
  color: white;
}

.carac-appart {
  flex: 0 0 50%;
  margin-top: 10px;


  h1{
    font-size: 24px;
    color: $hover-green;
  }

  p {
    text-align: justify;
    // padding: 10px;
  }
}

.carac-syndic {
  flex: 0 0 50%;
  margin-top: 10px;

  h1{
    font-size: 24px;
    color: $hover-green;
  }

  p {
    // padding: 10px;
  }
}


.fa-building {
  color: $dark-green;
}


.fas {
  margin-right: 10px;
}

#appart {
  border-radius: 5px;
}
// Container des loyers --> Règles CSS


.upper-right {
  width: 40%;
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title {
  color: white;
  background-color: #357376;
  width: 100%;
  padding-left: 15px;
  border-bottom: solid 1px;
  border-radius: 5px 5px 0 0;

  h1 {
    margin-bottom: 2px;
    font-size: 30px;
  }
}

.rent-line {
  display: flex;
  align-items: center;
  padding: 10px;
  .btn {
    width: 100px;
  }
}

.rent-amount {
  // margin-top: 10px;
  flex: 0 0 100px;
  align: center;
  // padding: 0px;
}

.rent-date {
  flex-grow: 1;
  // margin-top: 10px;
  // margin-right: 10px;
}

.rent-status {
  flex: 0 0 130px;
  // padding: 0px;
}

//container des pdf

.fa-file-pdf {
  color: red;
}

// Container des cards incidents

.incident {
  padding: 0px;

  h1 {
    color: $dark-green;
    text-align: center;
    margin-bottom: 12px;
  }
}

.lower-right {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.right-el {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

// form incidents

#dashboard_new_incident {
  .form-check {
    padding: 0;
  }
  legend {
    display: none;
  }
  input.radio_buttons {
    display:none;
  }
  .incident_answer {
    display: flex;
    .form-check {
      flex: 1 0 1%;
      margin-right: 10px;
      label {
        width: 100%
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}







