// Specific CSS for your home-page

.container-fluid {
  font-family: $body-font;
}

#concept-row {
  border-bottom: solid 2px $grey;
  margin-bottom:15px;
}

#concept h1 {
  color: $dark-green;
  margin-top: 38px;
}

.profil-link {
  color: $light-green;
  font-size: 18px;
  padding: 22px;
  cursor: pointer;
}

.profil-link-active {
  color: $hover-green;
  border-bottom: solid $dark-green;

}

.concept-number-rounded {
  color: $dark-green;
  font-size: 24px;
  border: solid;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}

.concept-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.concept-title{
  color: $hover-green;
}

.text-green{
  color: $hover-green;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.fas {
  align-self: center;
}

.card-title {
  color: $dark-green;
}

.card-body {
  min-height: 220px;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}


