.incident-wrapper {
  display: flex;
}

/* Left side */
.incident-left {
  width: 100vw;
  top: 20px;
  position: sticky;
  align-self: flex-start; // <- ! Important for sticky
  margin-top: 18px; // Align with right element
  p {
    color: #357376;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  h1 {
    // background-color: #357376;
    // color: white;
    // font-size: 20px;
    // padding: 10px 8px;
    // border-radius: 3px;
    font-size: 22px;
    color: #357376;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #357376;
    padding: 10px 0;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .incident-description {
    margin: 30px;
    h4 {
      color: #515151;
      font-size: 18px;
      line-height: 1;
      padding: 0px;
      margin: 0;
      font-weight: 300;
    }
    .fa-calendar-alt:before {
      padding-right: 13px;
      font-size:20px;
      color: #357376;
    }
    .fa-exclamation-triangle:before {
      padding-right: 10px;
      font-size: 18px;
    }
    .fa-money-bill-wave:before {
      padding-right: 8px;
      font-size: 18px;
    }
    .fa-gavel:before {
      padding-right: 11px;
      font-size:20px;
    }
    .incident-date {
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .incident-category {
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .incident-price {
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .incident-responsability {
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .incident-certification {
      font-size: 17px;
      justify-content: center;
      padding-top: 10px;
      font-weight: bold;
      .fa-medal {
        padding-right: 10px;
        padding-bottom: 9px;
      }
    }
  }
  // .incident-date {
  // margin-bottom: 10px;

  // }
}
.incident-left-upper {
  // max-height: 545px; // Set max size
  // // overflow-y: scroll; // If owerflow scroll
  // height: 450px;
}
.incident-left-down {
  margin-top: 10px;
  text-align: center;

  button {
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
}
.incident-summary {
  border-color: #357376;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
  margin-top: 25px;

  h5 {
    font-size: 15px;
    color: #357376;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    letter-spacing: 1px;
    // border-top: 1px solid;
    margin-top: 0px;
    border-bottom: 1px solid #357376;
  }
  .question {
    margin-bottom: 0px;
    font-weight: 600;
    color: #357376;
  }
}

/* Right side */
.incident-right {
  align-self: flex-start;
}

.incident-workers div > h2 {
  font-size: 22px;
  color: #357376;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  border-bottom: 2px solid #357376;
  padding: 10px 0;
  font-weight: bolder;
  letter-spacing: 1px;

  &:not(:first-child) {
    margin-top: 35px;
  }
}

#pages_dashboard2 {
  #new_incident {
    .form-check-input  {
      display: none;
    }
    // label {

    //   background-color: #6ba7a8;
    //   color:white;
    //   margin: 10px;
    //   border-radius: 3px;
    //   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    //   padding: 10px;
    //   cursor: pointer;
    //   &:hover {
    //     background-color: #357376;
    //   }
    // }
    .incident_answer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      letter-spacing: 1px;
      font-size: 15px;
    }
    legend {
      text-align: center;
      font-size: 20px;
      color: #357376;
    }
    .form-check {
      flex: 0 0 160px;
      padding: 0;
      margin: 10px 5px;
      background-size: cover;
      background-position: center;
      // width: 140px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      // font-size: 24px;
      background-color: $hover-green;
      transition: 0.3s background-color ease-out;
      // font-weight: bold;
      // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      // border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
      &:hover {
        opacity:0.8;
        transition: 0.3s background-color ease;
        cursor: pointer;
      }
      label {
        margin: 5px;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      //   width: 100%;
      //   margin: 0;
      //   height: 150px;
      //   text-align: center;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      }
    }
  }
}

// form incident answers
#incidents_create {
  #new_incident {
    .form-check-input  {
      display: none;
    }
    label {

      background-color: #6ba7a8;
      color:white;
      margin: 10px;
      border-radius: 3px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #357376;
      }
    }
    .incident_answer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      letter-spacing: 1px;
      font-size: 17px;
    }
    legend {
      flex: 0 0 100%;
      text-align: center;
      font-size: 1.3em;
      color: #357376;
      border-radius: 5px 5px 0 0;
      margin-bottom: 15px;
      border-bottom: 2px solid #357376;
      padding: 10px 0;
      font-weight: bolder;
      letter-spacing: 1px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .form-check {
      flex: 0 0 200px;
      padding: 0;
      margin: 10px 5px;
      label {
        margin: 0;
        align-items: center;
        justify-content: center;

      }
    }
  }
}

// form incidents

#dashboard_new_incident {
  .form-check {
    padding: 0;
  }
  legend {
    display: none;
  }
  input.radio_buttons {
    display:none;
  }
  .incident_answer {
    display: flex;
    .form-check {
      flex: 1 0 1%;
      margin-right: 10px;
      label {
        width: 100%
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
