<!-- Partie basse des tuiles responsive -->
  <h1>Déclarer un sinistre</h1>
  <div class="cards">
    <div class="card-incident">
      <i class="fas fa-bolt electricity" style="color:#FFC65A; font-size: 100px;"></i>
    </div>
    <div class="card-incident">
      <i class="fas fa-tint plumbing" style="color:#167FFB; font-size: 100px;"></i>
    </div>
    <div class="card-incident">
      <i class="fas fa-key key" style="color:#333333; font-size: 100px;"></i>
    </div>
    <div class="card-incident">
      <i class="fas fa-thermometer-full heat" style="color:#E67E22; font-size: 100px;"></i>
    </div>
    <div class="card-incident">
      <%= image_tag "window.svg",size: "150x100", alt: "alttext" %>
    </div>
    <div class="card-incident">
      <i class="fas fa-tools small-works" style="color:#0E0000; font-size: 100px;"></i>
    </div>
    <div class="card-incident" >
      <i class="fas fa-paint-roller painting" style="color:#1EDD88; font-size: 100px;"></i>
    </div>
    <div class="card-incident">
       <%= image_tag "sols.svg",size: "150x100", alt: "alttext"%>
    </div>
    <div class="card-incident">
       <%= image_tag "electromenager.svg",size: "150x100", alt: "alttext" %>
    </div>
  </div>
</div>







