<!-- Partie basse des tuiles responsive -->
<div class="cards">
  <div class="card-incident">
    <i class="fas fa-bolt" style="color:#FFC65A; font-size: 100px;"></i>
  </div>
  <div class="card-incident">
    <i class="fas fa-tint" style="color:#167FFB; font-size: 100px;"></i>
  </div>
  <div class="card-incident">
    <i class="fas fa-key" style="color:#333333; font-size: 100px;"></i>
  </div>
  <div class="card-incident">
    <i class="fas fa-thermometer-full" style="color:#E67E22; font-size: 100px;"></i>
  </div>
  <div class="card-incident">
    <%= image_tag "window.svg",size: "150x100", alt: "alttext" %>
  </div>
  <div class="card-incident">
    <i class="fas fa-tools" style="color:#0E0000; font-size: 100px;"></i>
  </div>
  <div class="card-incident" >
    <i class="fas fa-paint-roller" style="color:#1EDD88; font-size: 100px;"></i>
  </div>
  <div class="card-incident">
     <%= image_tag "sols.svg",size: "150x100", alt: "alttext"%>
  </div>
  <div class="card-incident">
     <%= image_tag "electromenager.svg",size: "150x100", alt: "alttext" %>
  </div>
</div>







