<div id="myBtn" class="card-incident d-flex flex-column" style="background-color: $light-green;">
  <div>
    <img class="icone" src="<%= image_path "#{incident_category.downcase}.svg" %>" width="60px" height="60px" alt="">
  </div>
  <div>
    <p><%= incident_category %></p>
  </div>
</div>
