<div id="myBtn" class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "#{incident_category.downcase}.svg" %>')">
  <%= incident_category %>
</div>
