
<!-- conteneur général de toute la page -->
<div class="container">

<!-- contener de la partie haute -->
  <div class="upper-part">
    <div class="upper left">
      <div class="tab">
        <button class="tablinks btn btn-success" id="defaultOpen" onclick="openCity(event, 'RENTER')" > OPTION 1</button>
        <button class="tablinks btn btn-success" onclick="openCity(event, 'OWNER')" > OPTION 2</button>
      </div>
      <div id="RENTER" class="product-container tabcontent bg-white">
        Propriétaire 1
      </div>
      <div id="OWNER" class="product-container tabcontent bg-white">
        Propriétaire 2
      </div>
    </div>
    <div class="upper right">
      Loyers
    </div>
  </div>


<%= render 'incidents' %>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
</script>
