<% page_heading "Libérez vous des contraintes de votre appartement" # title %>

<!-- banner -->
<%= render 'shared/banner' %>

<!-- Présentation du concept -->
<div class="container" id="concept">
  <h1 class="concept-title text-center">Comment ca marche ? </h1>

  <div class="row text-center justify-content-center" id="concept-row">
    <div id="owner" class="profil-link profil-link-active">
      Proprietaires
    </div>
    <div id="renter" class="profil-link">
      Locataires
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="owner-body" class='profil-body'>
      <div class="row justify-content-between">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
          <div class="concept-number-rounded">
            1
          </div>
          <div class="concept-title">
            <h4>Gestion réactive et moderne</h4>
          </div>
          <div class="concept-description">
           Votre <span class="text-green">espace en ligne</span> vous permet de suivre toutes les opérations et de <span class="text-green">contacter facilement</span> votre locataire.
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
          <div class="concept-number-rounded">
            2
          </div>
          <div class="concept-title">
            <h4>Centralisation de vos biens</h4>
          </div>
          <div class="concept-description">
           L'ensemble de vos appartements <span class="text-green">accessibles en un clic</span> dans une plateforme <span class="text-green">unique et intuitive.</span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
          <div class="concept-number-rounded">
            3
          </div>
          <div class="concept-title">
            <h4>Autonomisation de vos locataires</h4>
          </div>
          <div class="concept-description">
           Identifiez des <span class="text-green">artisans de confiance</span> et permettez à vos locataires de <span class="text-green">gérer les incidents en toute autonomie.</span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
          <div class="concept-number-rounded">
            4
          </div>
          <div class="concept-title">
            <h4>Réalisation d'économie</h4>
          </div>
          <div class="concept-description">
           Optez pour <span class="text-green">Homelib</span> et affranchissez vous des coûts exorbitants pratiqués par les agences immobilières locales.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="renter-body" class='profil-body d-none'>
    <div class="row justify-content-between">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
        <div class="concept-number-rounded">
          1
        </div>
        <div class="concept-title">
          <h4>Gestion réactive et moderne</h4>
        </div>
        <div class="concept-description">
           Votre <span class="text-green">espace en ligne</span> vous permet de déclarer <span class="text-green">un incident</span> en quelques clics.
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
        <div class="concept-number-rounded">
          2
        </div>
        <div class="concept-title">
          <h4>Intervention simplifiée</h4>
        </div>
        <div class="concept-description">
          La plateforme vous <span class="text-green">aide à identifier clairement</span> le problème et vous oriente vers un <span class="text-green">artisan de confiance validé par votre propriétaire</span>.
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
        <div class="concept-number-rounded">
          3
        </div>
        <div class="concept-title">
          <h4>Espace documentaire sécurisé</h4>
        </div>
        <div class="concept-description">
           Stockez l'ensemble des documents et contrats dans <span class="text-green">votre espace sécurisé</span> et accédez directement à vos quittances de loyer.
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 concept-column">
        <div class="concept-number-rounded">
          4
        </div>
        <div class="concept-title">
          <h4>Paiement du loyer en ligne</h4>
        </div>
        <div class="concept-description">
           Payez votre loyer <span class="text-green">directement en ligne depuis la plateforme</span> et <span class="text-green">programmez vos règlements automatisés</span>.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Encart témoignages clients -->
<div class="container mt-5">
  <div class="customer-title text-center mb-5">
    <h1><span class="text-green">Nos clients témoignent</span></h1>
  </div>
  <div class="row justify-content-xs-center">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2 mx-auto" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1115&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Je peux me concentrer sur ce qui m'importe</h5>
          <p class="card-text"> Avec Homelib j'ai enfin trouvé une solution simple et rapide pour gérer mes 2 appartements et permettre à mes locataires d'être plus sereins</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2 mx-auto" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1571844307880-751c6d86f3f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2017&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Terminé les appels de mon agence</h5>
          <p class="card-text"> Aujourd'hui j'ai plus besoin de passer des heures au téléphone avec des interlocuteurs différents qui ne me comprennent pas </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2 mx-auto" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1505503693641-1926193e8d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">J'ai arrêté de me poser des questions</h5>
          <p class="card-text"> Grâce à Homelib je suis sur que lorsqu'un artisan intervient, je paierais le prix juste ! C'est un confort supplémentaire pour moi et mon propriétaire</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Encart presse -->
