<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container text-center">
    <h1>Libérez vous des contraintes de votre logement</h1>

  </div>

</div>

<!-- Présentation du concept -->

<div class="container" id="concept">
  <h1 class="text-center">Comment ca marche ? </h1>

  <div class="row text-center justify-content-center" id="concept-row">
    <div id="owner" class="profil-link profil-link-active">
      Proprietaires
    </div>
    <div id="renter" class="profil-link">
      Locataires
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="owner-body" class='profil-body'>
      <div class="row justify-content-between">
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            1
          </div>
          <div class="concept-title">
            <h4>Gestion réactive et moderne</h4>
          </div>
          <div class="concept-description">
             Votre <span class="text-green">espace en ligne</span> vous permet de suivre toutes les opérations et de <span class="text-green">contacter facilement</span> votre locataire.
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            2
          </div>
          <div class="concept-title">
            <h4>Centralisation de vos biens</h4>
          </div>
          <div class="concept-description">
             L'ensemble de vos appartements <span class="text-green">accessibles en un clic</span> dans une plateforme <span class="text-green">unique et intuitive.</span>
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            3
          </div>
          <div class="concept-title">
            <h4>Autonomisation de vos locataires</h4>
          </div>
          <div class="concept-description">
             Identifiez des <span class="text-green">artisans de confiance</span> et permettez à vos locataires de <span class="text-green">gérer les incidents en toute autonomie.</span>
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            4
          </div>
          <div class="concept-title">
            <h4>Réalisation d'économie</h4>
          </div>
          <div class="concept-description">
             Optez pour <span class="text-green">Homelib</span> et affranchissez vous des coûts exorbitants pratiqués par les agences immobilières locales.
          </div>
        </div>
      </div>

    </div>
    <div id="renter-body" class='profil-body d-none'>
      <div class="row justify-content-between">
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            1
          </div>
          <div class="concept-title">
            <h4>Gestion réactive et moderne</h4>
          </div>
          <div class="concept-description">
             Votre <span class="text-green">espace en ligne</span> vous permet de déclarer <span class="text-green">un incident</span> en quelques clics.
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            2
          </div>
          <div class="concept-title">
            <h4>Intervention simplifiée</h4>
          </div>
          <div class="concept-description">
            La plateforme vous <span class="text-green">aide à identifier clairement</span> le problème et vous oriente vers un <span class="text-green">artisan de confiance validé par votre propriétaire</span>.
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            3
          </div>
          <div class="concept-title">
            <h4>Espace documentaire sécurisé</h4>
          </div>
          <div class="concept-description">
             Stockez l'ensemble des documents et contrats dans <span class="text-green">votre espace sécurisé</span> et accédez directement à vos quittances de loyer.
          </div>
        </div>
        <div class="col-3 concept-column">
          <div class="concept-number-rounded">
            4
          </div>
          <div class="concept-title">
            <h4>Paiement du loyer en ligne</h4>
          </div>
          <div class="concept-description">
             Payez votre loyer <span class="text-green">directement en ligne depuis la plateforme</span> et <span class="text-green">programmez vos règlements automatisés</span>.
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Encart témoignages clients -->

<div class="container d-flex">
  <div class="arrow-left">
    <i class="fas fa-arrow-circle-left"></i>
  </div>

  <div class="grid-wrapper justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="arrow-right">
    <i class="fas fa-arrow-circle-right"></i>
  </div>
</div>

<!-- Encart presse -->
