<% page_heading "Retrouver ici tous les réparateurs" # title %>

<div class="container">
<h1>Tous les réparateur de l'impossible !!</h1>

<div class="container-fluid">
  <ul class="">
    <% @workers.each_with_index do |worker, idx| %>
      <li>
        <%= render 'card_worker', worker: worker, idx: idx %>
      </li>
    <% end %>
  </ul>
</div>

</div>
