
.btn-gradient {
  color: white;
  padding: 4px 24px;
  border-radius: 4px;
  // font-weight: bold;
  background: linear-gradient(#1D4D4F, #236063);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.payer {
  background: linear-gradient(#FF5722, #d0471c);
}

.btn-gradient:hover {
  background: linear-gradient(#6BA8A9, #6BA8A9);
  color: white;
}

.tab {
  overflow: hidden;
  // border: 1px solid #ccc;
  background-color: #d5ffed;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;

}

/* Change background color of buttons on hover */


/* Create an active/current tablink class */
.tab button.active {
  background: linear-gradient(#1D4D4F, #236063);
}



