
.btn-gradient {
  color: white;
  padding: 4px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#1D4D4F, #236063);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.payer {
  color: white;
  padding: 4px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#FF5722, #d0471c);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#6BA8A9, #6BA8A9);
  color: white;
}
