.card-incident {
  background-size: cover;
  background-position: center;
  // width: 140px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-green;
  font-size: 24px;
  background-color: white;
  transition: 0.3s background-color ease-out;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  &:hover {
    opacity:0.4;
    transition: 0.3s background-color ease;
    cursor: pointer;
  }
}
#dashboard_new_incident2 .form-check {
  flex: 1 0 1%;
  margin-right: 17px;
  &:last-child {
    margin-right: 0;
  }

.card-incident p {
  font-size: 18px;
}

}
.icone {
  padding: 5px;
  margin-bottom: 10px;
}

.cards {
  display: flex;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* INCIDENT RESULT */
.incident-result {
  position: relative;
  width: 94%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Incident delete */
.incident-delete {
  position: absolute;
  top: 21px;
  right: 4%;

  #delete-incident-btn {
    padding: 0;
  }

  .fa-trash-alt {
    color: #357376;
    font-size: 17px;

    &:hover {
      font-size: 20px;
    }
  }
}
