.modal-content{
  background-color: #FFF;
  color: $dark-green;
}

.modal-header {
  background-color: white;
}
.modal-title {
  color: $dark-green;
}
.close {
  color: $dark-green;
  text-shadow: 0 1px 0 black;
  opacity: 1;
     &:hover {
        zoom: 1.08;
  };
}

#file-pick2 {
  font-family: "Monserrat", sans-serif;
  &:hover {
        zoom: 1.08;
  };
}
div.w-100.text-center {
  border: Opx solid;
  border-radius: 20px;
  padding: 12% 0;
}

.text{
     color: $dark-green;
}

.modal-footer {
  border-top: none;
}

// css des formulaires en modale
.edit_incident {
  width: 80% !important;
}
.new_document {
  width: 80% !important;
}

#form{
  height: calc(100vh - 70px);
}

.btn-login {
  color: $dark-green;
}

a {
  color: $grey;
  text-decoration: none;
  background-color: transparent;
}

/* line 13, node_modules/bootstrap/scss/mixins/_hover.scss */
a:hover {
  color: $light-green;
  text-decoration: none;
}
